body {
    background-color: #ffff;
    margin: 0;
  }
  
  h1 {
    font-family: Outfit, sans-serif;
    color:darkslateblue;
    margin-top: 25px;
    text-align: center;
  }

  h2 {
    font-family: Outfit, sans-serif;
    margin: 25px;
  }
  
  a {
    color: royalblue;
    text-decoration: none;
  }

  a:hover   {
    color:blue
  }

  p {
    font-family: Outfit, sans-serif;
    /* font-size: small;
    text-align: left; */
    /* width: 80% */
    /* margin:2rem; */
    /* border-radius: 25%; */
    /* justify-content: left;
    align-items: center;
    max-width: 500px;
    display: flex; */
    max-width: 500px;
    margin: auto;
    padding: 2.0rem;
    padding-top: 1.0rem;
    justify-content: center;
    display: flex;
  }

  h3    {
    font-family: Outfit, sans-serif;
    margin: 25px;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
  
  /* .navlist {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    gap: 1.8rem;
  }
  
  .navlink {
    display: inline-block;
    font-size: 24px;
  } */

  ul {
    font-family: Outfit, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.35rem;
    margin-bottom: 1.5rem;
    color: #222224;
    list-style: circle;
    margin: 1.5rem;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }


  
  
